body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Todos---Web {
  width: 100%;
  height: 100vh;
  background-color: #f6f7f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Rectangle {
  width: 440px;
  height: 437px;
  margin: 109px 376px 0 0;
  padding: 35px 30px;
  border-radius: 5px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.TodosList {
  width: 440px;
  height: 250px;
  overflow-x:hidden;
  overflow-y:auto;
}

.Logout {
   position:absolute;
   top: 10px;
   right:10px;
   width: 49px;
      height: 18px;
      margin: 0 0 109px 376px;
      font-family: MarkPro;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--dark-blue-grey);
}